<li><a href="" class="">Accueil</a></li>
<li><a href="" class="">Services</a></li>
<li><a href="" class="">Solutions</a></li>
<li><a href="" class="">Tutoriels</a></li>
<li><a href="" class="">Contact</a></li>