<li class=""><a href="https://www.facebook.com/soshomepcfr" target="_blank" class="px-2"><i class="fab fa-facebook-f"></i></a></li>
<li class=""><a href="https://twitter.com/ExpaceDevelop" target="_blank" class="px-2"><i class="fab fa-twitter"></i></a></li>
<li class=""><a href="#" class="px-2"><i class="fab fa-linkedin-in"></i></a></li>