.contact button {
    background: #545454;
    border: 0;
    padding: 10px 24px;
    border-radius: 5px;
    color: #fff;
    transition: 0.4s;
    width: 100%;

    &:hover {
        background: #e71a33;
    }
  }
  .btn {
    background: #545454;
    border: 0;
    padding: 10px 24px;
    border-radius: 5px;
    color: #fff;
    transition: 0.4s;
    width: 100%;

    &:hover {
        background: #e71a33;
        color: #fff;
    }
  }
.contact input, 
.contact textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;

  &:focus {
    border-color: #e71a33;
    box-shadow: 0 0 0 0.01rem #fff;
  }
}

.contact input {
  padding: 10px 15px;
}

.contact textarea {
  padding: 12px 15px;
}

.auth input[type="checkbox"]:checked {
  background-color: #e71a33;
} 

.auth input, 
.auth textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;

  &:focus {
    border-color: #e71a33;
    box-shadow: 0 0 0 0.01rem #fff;
  }
}

.auth input[type="password"],
.auth input[type="email"],
.auth input[type="text"] {
  padding: 10px 15px;
}

.auth textarea {
  padding: 12px 15px;
}

.btn-large {
  text-decoration: none;
  transition: .3s;
  font-weight: bold;

  &:hover {
      color: #fff;
      text-decoration: none;
      outline: none;
      background-color: #2962ff !important;
  }
  &:focus {
      color: #fff;
      text-decoration: none;
      outline: none;
  }
}

.btn-facebook {
  background-color: #0d47a1;
  color: #fff;
  padding: 20px;
  margin-right: 5px;
  text-align: center;

  &:hover {
    background-color: #1565c0  !important;
  }
  
}

.btn-google {
background-color: #dd2c00;
color: #fff;
  padding: 20px;
  text-align: center;

&:hover {
  background-color: #ff3d00  !important;
}

}

