.form-control {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;

  &:focus {
    border-color: #e71a33;
    box-shadow: 0 0 0 0.01rem #fff;
  }
}
textarea.form-control {
  padding: 12px 15px;
}

.form-select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;

  &:focus {
    border-color: #e71a33;
    box-shadow: 0 0 0 0.01rem #fff;
  }
}

.form-check-input {
  box-shadow: none;

  &[type="checkbox"] {
    box-shadow: 0 0 0 0.01rem #fff;
  }

  &:focus {
    border-color: #e71a33;
  }

  &:checked {
    background-color: #e71a33;
    border-color: #e71a33;
  }
}
.ts-wrapper.single .ts-control, .ts-wrapper.single .ts-control input {
  cursor: pointer;
  background: #fff !important;
  border: 0px !important;
  color: #000 !important;
  padding: 1px !important;
  font-size: 14px;
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #e71a33;
  box-shadow: 0 0 0 0.01rem #fff;
}
.was-validated .form-check-input:invalid:focus, .form-check-input.is-invalid:focus {
  border-color: #e71a33;
  box-shadow: 0 0 0 0.01rem #fff;
}

.input-icon {
  position: relative;
}

.input-icon .form-control:not(:last-child) {
  padding-right: 2.5rem;
}

.input-icon .form-control:not(:first-child) {
  padding-left: 2.5rem;
}

.input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #d8d8d8;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 2.5rem;
  pointer-events: none;
}

.input-icon-addon:last-child {
  left: auto;
  right: 0;
}