<div class="col-lg-4">
    <div class="sidebar">
        <!--
        <h3 class="sidebar-title">Rechercher</h3>
        <div class="sidebar-item search-form">
            {{ component('blog_search') }}
        </div>
        -->
            {{component('blog_categories')}}
            {{component('blog_post_recent')}}
                    </div>
                </div>