<div class="col-lg-4">
    <div class="sidebar">
        <!--
        <h3 class="sidebar-title">Rechercher</h3>
        <div class="sidebar-item search-form">
            {{ component('search_blog') }}
        </div>
        -->
            {{component('categories_blog')}}
            {{component('recent_blogpost')}}
                    </div>
                </div>