{% extends 'base.html.twig' %}

{% if app.request.attributes.get('_route') == 'app_profil_edit' %}
    {% set titre = 'Editer mon profil' %}
{% else %}
    {% set titre = 'Editer un utilisateur' %}
{% endif %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
    {{ component('breadcrumbs', {'title': block('title')}) }}

    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-box mb-4">
                    <div class="container mt-3">
                        {{ component('profil_form_info', {
                            user: user.id ? user: null,
                            form: profilForm
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-box mb-4">
                    <div class="container mt-3">
                        {{ component('profil_form_credentials', {
                            user: user.id ? user: null,
                            form: credentialsForm
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
